@page "/Order/Create"
@inject IFoodData foodData
@inject IOrderData orderData

<h3>Create</h3>

@code {
    private OrderModel order = new OrderModel();
    private List<FoodModel> foodItems = new List<FoodModel>();

    
}