@page "/"

@inject Demo _demo
@inject Demo _demo2
@inject ProcessDemo _processDemo

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
<h2>Demo 1 Time: @_demo.StartUpTime.ToString("hh:mm:ss ffffff")</h2>
<h2>Demo 2 Time: @_demo2.StartUpTime.ToString("hh:mm:ss ffffff")</h2>
<h3>Days in Month: @_processDemo.GetDaysInMonth()</h3>

Welcome to your new app.

